.box {
    /* position: relative; */
    max-width: 50%;
    border-radius: 10px;
    max-width: 70%;
    padding: 10px;
    background-color: white;
    border: 5px solid red;
    display: grid;
    box-sizing: border-box;
    margin: 20px;
    margin-left: 100px;
}

.albumPageHeader {
    margin: 0;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 40px;
}

.songContainer {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid red; */
}

/* .track {
    position: absolute;
    top: 20px;
    margin-left: -15px;
    font-weight: bold;
}

.name {
    position: absolute;
    top: 20px;
    margin-left: 290px;
    font-weight: bold;
}

.duration {
    margin-left: 650px;
    font-weight: bold;
} */

/* Mobile View */
@media screen and (max-width: 500px) {
    .box {
        max-width: 50%;
        display: grid;
        margin: 10px;
        border: 5px solid red;
    }

    .songContainer {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }

    .albumPageHeader {
        font-size: 25px;
        padding: 0;
        margin-top: 75px;
    }
}

/* Tablet View */
@media screen and (max-width: 800px) {
    .box {
        max-width: 100%;
    }

    .songContainer {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }

    .albumPageHeader {
        font-size: 25px;
        padding: 0;
        margin-top: 75px;
    }
}