.box {
    margin-left: 90px;
    margin-right: 5px;
    position: relative;
    float: left;
    max-width: 50%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    padding: 20px;
    background-color: white;
}

.songContainer {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
      
}

.track {
    position: absolute;
    top: 20px;
    margin-left: -15px;
    font-weight: bold;
}

.name {
    position: absolute;
    top: 20px;
    margin-left: 290px;
    font-weight: bold;
}

.duration {
    margin-left: 650px;
    font-weight: bold;
}