.albumPageHeader {
    margin: 0;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 40px;
}

.box {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    background-color: white;
    display: grid;
    box-sizing: border-box;
    margin: 100px;
}

.songContainer {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/* Mobile View */
@media screen and (max-width: 500px) {
    .box {
        max-width: 20%;
        display: grid;
        /* margin: 20px; */
    }

    .songContainer {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }

    .albumPageHeader {
        font-size: 25px;
        padding: 0;
        margin-top: 75px;
    }
}

/* Tablet View */
@media screen and (max-width: 800px) {
    .albumPageHeader {
        margin: 0;
        padding: 0;
    }

    .box {
        max-width: 100%;
        margin: 70px;
    }

    .songContainer {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }

    .albumPageHeader {
        font-size: 50px;
        padding: 0;
        margin-top: 75px;
    }
}