h1 {
    text-align: center;
    color:rgba(100, 50, 255, .8);
    font-family: 'Pacifico', cursive;
    color:#212121;
}

.display {
    /* padding-top: 3%;
    padding-left: 7%; */
    /* padding: 5%; */
    /* margin-bottom: -250px; */
    /* padding-top: -100%; */
    margin-left: 145px;
    padding-top: 90%;
    padding-left: 20%;
    padding-right: 30%;
    /* padding-bottom: 50px; */
    /* margin-bottom: 200px; */
}

@media screen and (max-width: 480px) {
    .display {
        padding: 33%;
        margin-left: -10px;
        margin-bottom: -140px;
    }
}