@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Anton');


body {
    background: url('https://i.natgeofe.com/n/1db37615-012f-4981-b9ff-9e92764df1bc/19430_square.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.list {
    margin-left: 44.9%;
    margin-top: 2%;
    -webkit-appearance: menulist-button;
    height: 40px;
    text-align: center;
}

.input {
    width: 400px;
    height: 30px;
    /* margin-bottom: 500px; */
    top: -50%;
    margin-top: 100px;
    margin-left: 430px;
    font-size: 17px;
    /* position: static; */
    /* display: block; */
    /* text-align: center; */
}

.button {
    /* margin-top: 200px; */
    height: 32px;
    position: relative;
    /* display: inline; */
    margin-left: 850px;
    top: -33px;
    /* margin-bottom: 590px; */
}

.rainbow {
  
    /* Font options */
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px #000000;
    font-size:40px;
    text-align: center;

    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 5s infinite; 

    /* Internet Explorer */
    -ms-animation: rainbow 5s infinite;

    /* Standard Syntax */
    animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
 
 /* Internet Explorer */
@-ms-keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
 
 /* Standard Syntax */
@keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}