@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background: url('https://i.natgeofe.com/n/1db37615-012f-4981-b9ff-9e92764df1bc/19430_square.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rainbow {
  
    /* Font options */
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px grey;
    
    /* seperate this into own class */
    font-size: 40px;
    /* seperate this into own class */
    text-align: center;

    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 5s infinite; 

    /* Internet Explorer */
    -ms-animation: rainbow 5s infinite;

    /* Standard Syntax */
    animation: rainbow 5s infinite; 
}
 
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
 
/* Internet Explorer */
@-ms-keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
 
/* Standard Syntax */
@keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}


/* Mobile View */
@media screen and (max-width: 500px) {
    body {
        max-width: 100%;
        box-sizing: border-box;
        border: 5px solid red;
    }

    .rainbow {
        font-size: 14px;
    }
}

/* Tablet View */
@media screen and (min-width: 800px) {
    .rainbow {
        font-size: 18px;
    }
}